#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

clean:
	dh_testdir
	dh_testroot
	dh_clean 

binary:
	#cp site-crondispatcher.sh site-crondispatcher
	#chmod +x site-crondispatcher
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	#dh_installman site-crondispatcher.8
	dh_compress 
	dh_fixperms
	
	dh_installdeb
	
	dh_installdirs
	#dh_install
	cp $(CURDIR)/tks.pl $(CURDIR)/debian/tks/usr/bin/tks
	cp -R $(CURDIR)/lib/WRMS* $(CURDIR)/debian/tks/usr/share/perl5
	
	dh_gencontrol
	dh_md5sums
	
	dh_builddeb
	#rm site-crondispatcher

.PHONY: build clean binary
