#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

clean:
	dh_testdir
	dh_testroot
	dh_clean 

binary:
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installman tks.1
	dh_compress 
	dh_fixperms
	
	dh_installdeb
	
	dh_installdirs
	#dh_install
	cp $(CURDIR)/tks.pl $(CURDIR)/debian/tks/usr/bin/tks
	cp -R $(CURDIR)/lib/WRMS* $(CURDIR)/debian/tks/usr/share/perl5
	
	# Vim auto-syntax-highlighting stuff
	cp ext/vim/syntax/tks.vim \
	    $(CURDIR)/debian/tks/usr/share/vim/vim70/syntax/
	cp ext/vim/syntax/tks.vim \
	    $(CURDIR)/debian/tks/usr/share/vim/vim71/syntax/
	cp ext/vim/ftdetect/tks.vim               \
	    $(CURDIR)/debian/tks/usr/share/vim/addons/ftdetect/
	
	
	dh_gencontrol
	dh_md5sums
	
	dh_builddeb

.PHONY: build clean binary
