#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

clean:
	dh_testdir
	dh_testroot
	dh_clean
	rm -f debian/tks.1 debian/tksrc.5

binary:
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	pod2man --center="User Manuals" tks.pl > $(CURDIR)/debian/tks.1
	pod2man --section 5 --center="File Formats" doc/tksrc.pod > $(CURDIR)/debian/tksrc.5
	dh_installman debian/tks.1 debian/tksrc.5
	rm -f debian/tks.1 debian/tksrc.5
	dh_compress
	dh_fixperms

	dh_installdeb

	dh_installdirs
	dh_install

	cp $(CURDIR)/tks.pl $(CURDIR)/debian/tks/usr/bin/tks

	dh_gencontrol
	dh_md5sums

	dh_builddeb

.PHONY: build clean binary
